<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div>id: {{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">


  </div>
  <div>
  <h2>SUPER POWERS</h2>
  <ul>
    <li *ngFor="let super of hero.superpowers">
      <div>
        {{super}}
        <button type="button" id="deleteButton" (click)="deleteSuperpower(super)">Delete</button>
      </div>

    </li>
  </ul>
  <button type="button" (click)="showAddSuperpower()">{{buttonName}}</button>
  <div *ngIf="show" id="buttonAdd">
    <form>
      <div>
         <label for="superpower">Super Power:</label>
         <input type="text" id="superpower" placeholder="Super Power">
         <button type="button" (click)="addSuperpower()">Add Super Power</button>
    </div>
    <label *ngIf="error" id="error">This superpower already exists</label>
      </form>

  </div>
  </div>


  <button type="button" (click)="goBack()">Go Back</button>
  <button type="button" (click)="save()">save</button>

</div>


